
body {
    background-color:cadetblue;
    margin-bottom: 90em;
}
/* #firstimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#secondimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
} */
 section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    box-shadow: 5px 5px #111111;
    border-radius: 55px;
}


/* .parallax::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top,cadetblue, transparent );
    z-index: 10000;
}
.parallax::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: cadetblue;
    z-index: 10000;
    mix-blend-mode: color;
} */

#title {
    position: relative;
    color: #fff;
    font-size: 5em;
    z-index: 1;
    text-align: center;
    
}