
body {
    background-color:cadetblue;
    margin-bottom: 90em;
}
#firstimage {
    width: 100%;
    height: 50%;
    
}
#Upper {
    padding: 0;
    margin: 0;
    .col-md-6 {
      padding: 0;
      margin: 0;
    }
    .parallax {
      /* The image used */
      background-image:  url("https://jaylenluc.github.io/TheMortalCoil/pictures/DSC_7489.jpg");
      /* Full height */
      height: 100%;
      /* Create the parallax scrolling effect */
      /*background-attachment: fixed;*/
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }